body {
  background-color: #f5f7fa;
}

.hide {
  font-family: "Rubik", sans-serif;
  display: none;
  padding: 15px;
  border: 1px solid #e1e1e1;
  position: absolute;
  background: #fff;
  /* right: 20px; */
  margin-top: 30px;
  text-align: left;
  border-radius: 3px;
  box-shadow: 0px 3px 6px #dbdbdb;
  z-index: 999;
}

.hide a,
.hide form .btn {
  border: none;
  background: transparent;
  color: #464646;
  padding: 0px;
  font-size: 14px;
}

.hide a:hover,
.hide form .btn:hover {
  background: transparent;
  color: #000;
}

.hide a+a {
  margin-top: 0px;
}

.hide form {
  margin: 5px 0px;
}

.hide br {
  display: none;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.topgap {
  margin-top: 10px;
}

hr {
  margin: 3px 0px;
}